<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue JS</title>
</head>
<body>

<div id="app">

    <ul>
        <li v-for="(person, index) of people">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
    </ul>
    <ul>
        <li v-for="(person, index) of people">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
    </ul>

    <hr>

    <ol>
        <li v-for="num of 4">{{ num }}</li>
    </ol>

    <hr>

    <ul>
        <li v-for="(value, key, index) in person"><em>{{ index + 1 }}</em> <b>{{ key }}</b> {{ value }}</li>
    </ul>

</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>

  new Vue({
    el: '#app',
    data: {
      people: [
        {name: 'Vlad', age: 20},
        {name: 'Max', age: 25},
        {name: 'Oleg', age: 50},
        {name: 'Elena', age: 30}
      ],
      person: {
        name: 'Max',
        age: 50,
        job: 'Frontend'
      }
    }
  })

</script>
</body>
</html>